/* .card{
    height: 200px;
    width: 200;
    
} */
.skill{
    background-color:palegreen;
  }
  .s{
    background-color:rgb(251, 152, 234);
  }
  .sk{
    background-color:rgb(17, 231, 238);
  }
  